USE [master]
GO
/****** Object:  Database [VideoRental]    Script Date: 06.12.2022 11:42:10 ******/
CREATE DATABASE [VideoRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VideoRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VideoRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoRental]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 06.12.2022 11:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[IdCustomers] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](max) NULL,
	[passport] [nvarchar](50) NULL,
	[telephone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[IdCustomers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disk]    Script Date: 06.12.2022 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disk](
	[IdDisk] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[genre] [varchar](max) NULL,
	[duration] [int] NULL,
	[Cost_per_day] [int] NOT NULL,
 CONSTRAINT [PK_Disk] PRIMARY KEY CLUSTERED 
(
	[IdDisk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 06.12.2022 11:42:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[IdRent] [int] IDENTITY(1,1) NOT NULL,
	[rental_date] [date] NULL,
	[return_date] [date] NULL,
	[returned] [tinyint] NULL,
	[IdCustomers] [int] NULL,
	[IdDisk] [int] NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[IdRent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Customers] FOREIGN KEY([IdCustomers])
REFERENCES [dbo].[Customers] ([IdCustomers])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Customers]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Disk] FOREIGN KEY([IdDisk])
REFERENCES [dbo].[Disk] ([IdDisk])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Disk]
GO
USE [master]
GO
